*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li,a{
    text-decoration: none;
    list-style: none;
    outline: none;
    color: #FFFFFF;
}
button, input{
    border: none;
    outline: none;
    background: none;
}

@font-face {
    font-family: 'SF PRO Display';
    src: url(./assets/fonts/SFPRODISPLAYMEDIUM.OTF);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'SF PRO Display';
    src: url(./assets/fonts/SFPRODISPLAYREGULAR.OTF);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'SF PRO Display';
    src: url(./assets/fonts/SFPRODISPLAYBOLD.OTF);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url(./assets/fonts/TT\ Firs\ Neue\ Trial\ Medium.ttf);
    font-style: normal;
    font-weight: 400;
}

body{
    font-family: 'SF PRO Display', sans-serif;
    font-weight: 900;
    background: #0D0C0C;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__nav{
    background: rgba(50, 50, 50, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}
.header__nav-list{
    display: flex;
    gap: 60px;
    border-radius: 3px ;
}
.mobile-menu-box{
    display: none;
}

.sign__up{
    background: rgba(57, 239, 134, 1);
    padding: 27px 52px;
    border-radius: 3px;
    color: #000;
    border: 1px solid #ffffff79;
    font-size: 20px;
    cursor: pointer;
}


/* main style */
.hero__container{
    display: flex;
    align-items: center;
    height: 650px;
    background-image: url(./assets/media/heroimg.png);
    background-size: cover;
    background-position: calc(100% + 20px) center;
    background-repeat: no-repeat;
}
.hero__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}
.hero__content h1{
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
    font-family: "TT Firs Neue";
}
.hero__content p{
    font-size: 20px;
    color: rgba(171, 171, 171, 1);
    width: 50%;
    font-weight: 200;
}
.hero__imgbox{
    width: 50%;
    background-size: cover;
    background-position: center;
}
/* .hero__img{
    max-width: 900px;
    height: 650px;
    position: absolute;
    top: -300px;
    left: -100px;
} */









/* responsibility */

@media (max-width:1200px){
    .container{
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
    }
}

@media (max-width:980px){
    .container{
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }
}
@media (max-width:768px){
    .header__nav{
        background-image: url(./assets/media/navbarbg.png);
    }
    .mobile-menu-box{
        display: block;
        color: #fff;
        font-size: 40px;
        cursor: pointer;
    }
    .header__nav-list,.header__nav-btnbox{
        display: none;
    }
}
